// Place all the styles related to the pages2 controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$info: #03a9f4;

.pages2 {
  h1{
    color: white;
  }

  background-color: $info;
}